@media (max-width:991px) {
  
  .banner__content {
    height: fit-content;
    padding-top: 100px;
  }
  .sponsor{
    margin-top: 100px;
  }
  .sponsor__images {
    justify-content: center;
}
  .collection {
    padding-top: 65px;
  }
  .collection__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsor__image {
    flex-basis: 15%;
    margin: 0px 25px 10px;
  }
  .newsletter {
    text-align: center;
    padding: 65px 0px;
  }

}
/*----------
 Tablet views 
 ------------*/

 @media (max-width:767px){
  
  .banner_navMobile{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation__checkbox{
    display: none;
  }
  .hamburger{
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
  }
  .navigation__items{
    position: absolute;
    transform: translateY(-380px);
    background-color: var(--nav-bg);
    width: calc(100% - 30px);
    padding: 20px 20px;
  }
  .navigation__items li{
    list-style: none;
    padding: 15px 0px;
  }
  .navigation__items li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0px;
  }
  .navigation__items li a:hover {
    color: var(--navitem-color);
  }
  .banner__mobile__logo{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 800;
  }
  .navigation__checkbox:checked ~ .navigation__items{
    transform: translateY(0px);
  }
  .banner__navigation ul{
    display: block;
  }
  .banner__nav{
    display: none;
  }
  .banner__logoBox{
    display: none;
  }
  .banner__item{
    display: none;
  }
  .banner__content {
    flex-direction: column;
    text-align: center;
  }
  .banner__right{
    order: 1;
  }
  .banner__left {
    order: 2;
  }
  .banner__title{
    padding-top: 50px;
  }
  .banner__img1 {
    width: 60%;
  }
  .sponsor__image {
    flex-basis: 10%;
    margin: 0px 10px 10px;
  }

 }
 /*----------
 Landscape mobile views 
 ------------*/

@media (max-width:576px) {
  
  .banner__content {
    flex-direction: column;
    text-align: center;
  }
  .banner__right{
    order: 1;
  }
  .banner__left {
    order: 2;
  }
  .banner__title {
    font-size: 33px;
  } 
  .banner__img1 {
    width: 60%;
  }
  .sponsor__image {
    flex-basis: 3%;
    margin: 0px 8px 10px;
    max-width: 45px;
  }
  .collection__items {
    grid-template-columns: repeat(1, 1fr);
  }
  

}
/*----------
 Mobile views 
 ------------*/