@media (max-width:991px) {
  
  .banner__content {
    height: fit-content;
  }
  .sponsor{
    margin-top: 100px;
  }
  .sponsor__images {
    justify-content: center;
}
  .collection {
    padding-top: 65px;
  }
  .collection__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsor__image {
    flex-basis: 15%;
    margin: 0px 20px 10px;
  }
  .newsletter {
    text-align: center;
    padding: 65px 0px;
  }

}
/*----------
 Tablet views 
 ------------*/

@media (max-width:767px) {
  
}
/*----------
 Mobile views 
 ------------*/