*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #3A3A3A;
  --secondary-color: #18191F;
  --collection-color: #787885;
  --collection__more__text-color: rgba(224, 44, 109, 0.87);
  --btn-text-color: #ffffff;
  --btn-bg: linear-gradient(to right, #E02C6D, #b83867);
  --btn-hover-bg: linear-gradient(to right, #b83867, #E02C6D);
  --footer-bg: #0A0826;
  --footer-text-color: #ffffff;
}

/*------------
 Common styles 
 -------------*/
 body{
  font-family: 'Poppins', sans-serif;
 }
 .container{
   max-width: 1300px;
   margin: 0 auto;
   padding: 0px 30px;
 }

 /*----------
  Header styles 
  ------------*/
  .banner__content{
    height: 100vh;
  }
  .banner__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .banner__left{
    flex-basis: 45%;
  }
  .banner__title{
    font-weight: 700;
    font-size: 55px;
    color: var(--primary-color);
  }
  .banner__text{
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-color);
    line-height: 25px;
    padding: 10px 0px;
  }
  .primary__btn{
    background: var(--btn-bg);
    color: var(--btn-text-color);
    font-size: 16px;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 20px; 
    display: inline-block;
    margin-top: 20px;
  }
  .primary__btn:hover{
    background: var(--btn-hover-bg);
  }
  .banner__arrow{
    padding-left: 10px;
  }
  .banner__right{
    flex-basis: 45%;
    text-align: center;
    position: relative;
  }
  .banner__img1{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner__img2{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  /*----------
    Main styles 
  ------------*/
  .sponsor__divider {
    margin: auto;
    width: 100%;
    position: relative;
  }
  .sponsor__divider .sponsor--shadow {
    overflow: hidden;
    height: 20px;
  }
  .sponsor__divider .sponsor--shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 1px black;
  }
  .sponsor__images{
    display: flex;
    justify-content: space-between;
    padding: 0px 10% 20px;
  }
  .sponsor__divider .sponsor--shadow1 {
    overflow: hidden;
    height: 20px;
  }
  .sponsor__divider .sponsor--shadow1:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 1px black;
  }
  /* sponsor section ends */
  .collection{
    padding-top: 100px;
  }
  .collection__title{
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
  }
  .collection__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
  .collection__item{
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .collection__item:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  .collection__image{
    width: 100%;
  }
  .collection__subtitlle{
    color: var(--secondary-color);
    font-size: 18px;
    padding: 10px 0px;
  }
  .collection__price{
    color: var(--primary-color);
    font-size: 20px;
  }
  .collection__ratings {
    color: orange;
    padding: 10px 0px;
  }
  .collection__rating{
    padding-left: 10px;
    color: var(--collection-color);
    font-weight: 700;
    font-size: 14px;
  }
  .collection__text{
    color: var(--collection-color);font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }
  .collection__more__text{
    color: var(--collection__more__text-color);
    font-size: 16px;
    margin-top: 20px;
    text-align: right;
  }
  .collection__arrow{
    padding-left: 10px;
  }
  /* collection section ends */

  .site__footer{
    width: 100%;
    padding: 30px 0px;
    background: var(--footer-bg);
    text-align: center;
    color: var(--footer-text-color);
  }
  .footer__title{
    font-size: 18px;
  }
  .footer__text, .footer__copytext{
    font-weight: 400;
    font-size: 14px;
  }
  .footer__text{
    padding: 5px 0px 3px;
  }
  .footer__copytext{
    padding: 2px 0px 5px;
  }